@charset "utf-8";
html {
margin: 0 8px;
background-color: #fff;
}

body  {
  /* backgroundをグラデーションにする */
  background:linear-gradient( -40deg, #e1150a48,#edf69d86,#04e0f880);
  margin: 0 100px ;
  padding: 8px 0;
}


main  {
  width: 350px;
  margin: 32px auto   ;
  border-radius: 8px;
}
#main-imge {
  width: 100%;
  margin-bottom: 16px;
  user-select: none;
  border-radius: 50%;
  object-fit: cover;
  border: solid black 1px;
}
img {
  vertical-align: bottom;
  user-select: none;
}

button {
  all:unset;
  width: 100%; 
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  background:linear-gradient(90deg,#f7adb5,#f76565,#ff1493 );
  
}

.continer-main {
  display: flex;
  gap: 8px;
  margin-top: 8px ; 
  width: 100%;
  align-items: center;
}



.titlePic  {
  /* width: calc ((100% - 24px) / 4) ; */
  width: 100%;
  height: calc(84px / 3 * 2);
  cursor: pointer;
  opacity: .4;
  border: solid 1px slategray;
  border-radius: 15%;
  box-sizing: border-box;

}

.active {
  opacity: 1;
}



h1 {
  text-align: center;
  font-size: 24px;
  padding: 8px 16px;
  margin:16px;
  user-select: none;
}
section {
  margin: 0 16px;
}
h3 {
  text-align: center;
}

#pear {
  background: linear-gradient(20deg,  #d2fac4,#b6f22a) ;
  border-radius: 16px;
  width: 50%;
  margin: 0 auto 10px;
  user-select: none;
}

.pear-img {
  width: 100% ;
  height: 300px;
  display: flex;
} 


dl {
  margin: 0;
  background-image: url();

}

dl>div {
  margin-bottom: 8px;
}

dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
  border-bottom: gray solid 1px;
  background-color: #fff;
}


dt::before {
  content: '・';
  
}

dt::after {
  content: '+';
  
  position: absolute;
  top: 8px;
  right: 16px;
  transition: transform 1s;
}


dl > div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  margin: 0;
  padding: 8px;
  display: none;
}

dd::before {
  content: '';
}


dl>div.appear dd {
  display: block;
  animation: fadein 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  
  100% {
    opacity: 1;
    transform: none;
  }
}

.continer > img {
  width: 120px;
  height: 220px;
  margin-right: 16px;
}

.continer-pear {
  display: flex;
}

.continer>table {
  width: calc(100%);
  letter-spacing: 1px;
  line-height: 12px;
  background-color: rgb(41, 251, 184);
}

th {
  height: 50px;
  background-color: azure;
  
}

td {
  background-color: aliceblue;
  line-height: 2;
  text-align: center;
  
}

.continer {
  display: block;
}

#Strawberry {
  background: linear-gradient(20deg,#f8c8e1, #ff1493 );
  width: 50%;
  margin: 0 auto 10px;
  user-select: none;
  border-radius: 16px;
}

.Strawberry-img > img{
  /* width: 150px; */
  /* width: fit-content; */
  /* height: 200px; */
  /* display: flex;  */ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#Citrus {
  background: linear-gradient(20deg, #f7e5c5, #ffa500);
  width: 50%;
  margin: 0 auto 10px;
  user-select: none;
  border-radius: 16px;
}

.citrus-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




@media (max-width : 800px) {
  body{
    margin: 0;
  }
}

@media (max-width: 799px) {
  th {
    font-size: 14px;
  }
  
  td {
    font-size: 12px;
  }
}
    @media (max-width : 399px ) {
      main  {
        width: 280px;
        margin: 24px auto   ;
        border-radius: 8px;
      }
    }
    
    @media (max-width : 330px ) {
      main  {
        width: 200px;
        margin: 16px auto   ;
        border-radius: 4px;
      }
      h1{
        font-size: 20px;
      }
    }